### Project-specific ###

yolov5/
wimmelbild-generator/

# datasets
datasets/
!datasets/*.yaml

# train/inference instances
*.jpg
*.jpeg
*.png
*.csv
*.txt

### PyCharm ###

.idea/**

### Python ###

venv/
.venv/
__pycache__
